* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

img {
    width: 55%;
    height: auto;
    position: absolute;
}

.container__top {
    top: -65%;
    left: -5%;
}

.container__bottom {
    bottom: -70%;
    right: -5%;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: auto;
}

.container__box {
    background-color: #ffffff;
    height: 20rem;
    width: 18rem;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 375px) {
    .container__box {
      min-width: 90%;
      min-height: auto;
    }
}

.container__box__profile {
    width: 90px;
    border: 5px solid white;
    border-radius: 50%;
    position: relative;
    top: 3.3rem;
}

.container__box__bg {
    width: 18rem;
    border-radius: 5px 5px 0 0;
}

@media (max-width: 375px) {
    .container__box__bg {
      min-width: 90%;
    }
}

.box__user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box__user__name{
    padding-top: 4.25rem;
    padding-bottom: 0.45rem;

}

.box__user__city, .box__user__age, .text {
    color: hsl(0, 0%, 59%);
}

.box__user__age {
    font-weight: normal;
}

.box__user__city {
    padding-bottom: 1.5rem;
}

@media (max-width: 375px) {
    .box__user__city {
      padding-bottom: 1.5rem;
    }
}

.box__desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid hsl(0, 4%, 87%);
    padding-top: 2rem;
    
}



.num, .box__user__name {
    font-weight: 900;
    margin: 0;
}

.text {
    font-size: 0.7rem;
    margin: 0.5rem;
}

